* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;

  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.sc-jqUVSM.lhlFYi {
  box-shadow: none;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
span.Polaris-Navigation__Text_yj3uv.Polaris-Navigation__Text--truncated_1chyt {
  color: red;
}
.btn {
  margin: 1rem 1rem 0 0;
  padding: 0.25rem 0.5rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  background: transparent;
  outline: none;
  border: 1px solid #808080;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #e4e3e34d;
}

#page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  overflow: hidden;
}

@media screen and (min-width: 468px) {
  #page {
    font-size: 3rem;
  }

  .btn {
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
  }
}

.app__brand__text {
  font-size: 2rem;
  font-weight: 700;
  color: #5a8dee;
  margin-left: 0.5rem;
}

/* Sidebar toggle button starts */
.outer__circle {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #5f97ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer__circle::after {
  position: absolute;
  top: 0.225rem;
  left: 0.215rem;
  content: "";
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-color: #fff;
}

.inner__circle {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #5f97ef;
  z-index: 100;
}

.inner__circle::after {
  position: absolute;
  top: 0.125rem;
  left: 0.15rem;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
}

ul.sidebar_content>li {
  padding: 0px !important;
}

ul.sidebar_content>li a {
  padding: 0.5rem 0.25rem;
  display: block;
}

/* Sidebar toggle button ends */


.login_content {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  /* background: black; */
  width: 100%;
  color: white;
}
.login {
  background: black;
  height: 100vh;
  padding: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.login_content div{
  margin-bottom: 10px;
}
.login_content div input {
  z-index: 999;
  background: #FFFFFF;
  max-width: 476px;
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login_content div>label{
  width: 100% !important;
}.login_content div>label span{
  display: block;
  margin-bottom: 10px;
}
.login_content button {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border-radius: 50px;
  border: 0;
  padding: 17px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login_content div>label span {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

li.sc-iBkjds.ilfVKo>a>div {
  display: flex;
  align-items: center;
}
li.sc-iBkjds.ilfVKo>a>div>span {
  display: block;
  margin-left: 6px;
}

.logout.active {
  background-color: #dbe4f3;
  border-radius: 0.2rem;
  cursor: pointer;
}
.logout:hover {
  background-color: #dbe4f3;
  border-radius: 0.2rem;
  cursor: pointer;
}